@model IEnumerable<Inventory.ViewModels.Item.ItemViewModel>
@{
    ViewBag.Title = "Item List";
}
@section CSS{
    <style>
        #Add_New {
            width: 120px;
            margin-left: 3px;
        }

        #Product {
            width: 90px;
            margin-left: 3px;
        }

        table thead tr th {
            color: white;
        }
    </style>
}
<div class="container-fluid">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header" style="background-color:#3498DB;height:55px">
                            <div class="row">
                                <div class="col-6 pt-1">
                                    <h2 class="card-title"><b style="color:white">Item List</b></h2>
                                </div>
                                <div class="col-6">
                                    <button style="border:1px solid; background-color:#3985d2;color:white" type="button" id="Add_New" class="btn  fa-pull-right" onclick="location.href='@Url.Action("Index", "Items", new { target="_blank" })'">Add Product</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped" id="ProductTable">
                                    <thead style="background-color:#3498DB">
                                        <tr>
                                            <th width="">No</th>
                                            <th width="">Barcode</th>
                                            <th width="">R.F Code</th>
                                            <th width="">Name</th>
                                            <th width="">Name</th>
                                            <th width="">C.Size</th>
                                            <th width="">UAN</th>
                                            <th width="">Cost</th>
                                            <th width="">Retail</th>
                                            <th width="">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int n = 0;}
                                        @foreach (var item in Model)
                                        {
                                            n = n + 1;
                                            if (item.Status == "i")
                                            {
                                                <tr style="color:red">
                                                    <td align="center">@n</td>
                                                    <td>@item.Barcode</td>
                                                    <td>@item.ReferenceCode</td>
                                                    <td>@item.Description</td>
                                                    <td>@item.UrduName</td>
                                                    <td align="center">@item.Ctnpcs</td>
                                                    <td>@item.Uanno</td>
                                                    <td align="center">@item.Cost</td>
                                                    <td align="center">@item.Retail</td>
                                                    <td align="center"><a href="/Items/Edit/@item.Barcode"><span><i class='fa fa-edit'></i></span></a></td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td align="center">@n</td>
                                                    <td>@item.Barcode</td>
                                                    <td>@item.ReferenceCode</td>
                                                    <td>@item.Description</td>
                                                    <td>@item.UrduName</td>
                                                    <td align="center">@item.Ctnpcs</td>
                                                    <td>@item.Uanno</td>
                                                    <td align="center">@item.Cost</td>
                                                    <td align="center">@item.Retail</td>
                                                    <td align="center"><a href="/Items/Edit/@item.Barcode"><span><i class='fa fa-edit'></i></span></a></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
@section scripts
{
    <script src="~/AdminLte/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/AdminLte/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script>
  $(function () {
      $("#ProductTable").DataTable({
          "pageLength": 50
      });
  });
    </script>
}
