@{
    ViewBag.Title = "Stock Transfer";
}
<link href="~/AdminLte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<style>
    .mar-top10 {
        margin-top: 10px;
    }

    .float-right1 {
        float: right;
    }

    .float-left1 {
        float: left;
    }

    .desktopview {
        display: block;
    }

    .mobileview {
        display: none;
    }

    @@media only screen and (max-width:400px) {
        .mar-top10 {
            margin-top: 0px;
        }
        /*.col3-mbl{
            max-width:33%;
        }*/
        .float-left1 {
            float: none;
        }

        .float-right1 {
            float: none;
        }
        /*.mar-topmblminus5{
            margin-top:-5px;
        }*/
        .font-sizesmall {
            font-size: 14px;
        }
        /*.mar-leftmbl{
                margin-left: 251px;
        }
        .mar-topmblminus58{
            margin-top:-58px;
        }
         .mar-topmblminus44{
            margin-top:-44px;
        }*/
        .desktopview {
            display: none;
        }

        .mobileview {
            display: block;
        }

        .mar-topmbl {
            margin-top: 62px;
        }

        .positionmbl {
            position: absolute;
            top: 128px;
            width: 93%;
        }

        .pabsolute {
            position: absolute;
        }

        .marleft165 {
            margin-left: 165px;
        }

        .reportbtnmbl {
            width: 88px;
            float: right;
            margin-right: 10px;
        }
    }
</style>
<div class="container-fluid">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="card" style="width:100%">
                    <div class="card-header" style="background-color:rgba(0, 0, 0, 0.075)">
                        <div class="row">
                            <div class="col-md-2 col-sm-6 mar-top10 mar-topmbl">
                                @*<div style="float:left"><strong>From:</strong></div>
                                    <div style="float:right"><input type="date" id="FromDate" name="FromDate" class="form-control" /></div>*@
                                <select class="form-control" id="INorOUT">
                                    <option value="IN">Transfer IN</option>
                                    <option value="OUT">Transfer OUT</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-6 mar-top10">
                                <select class="form-control" id="Query" onchange="show()">
                                    @*<option value="DocumentWise">Document Wise</option>*@
                                    <option value="DepartmentWise">Department Wise</option>
                                    <option value="SupplierWise">Supplier Wise</option>
                                    <option value="BranchWise">Branch Wise</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-6 mar-top10">
                                @Html.DropDownList("Department", new SelectList(ViewBag.Departmentlist, "DEPT_CODE", "DEPT_NAME"), "Select Department",
                        new { @style = "margin-top:2px", @id = "ddl_Department", name = "ddl_Department", @onchange = "FillGroup()", @class = "form-control" })

                                @Html.DropDownList("Supplier", new SelectList(ViewBag.Supplierlist, "SUPL_CODE", "SUPL_NAME"), "Select Supplier",
                        new { @style = "margin-top:2px", @id = "ddl_Supplier", name = "ddl_Supplier", @onchange = "Supplier()", @class = "form-control" })

                                @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Id", "Name"), "Select Branch",
                        new { @style = "margin-top:2px", @id = "ddl_Branch", name = "ddl_Branch", @onchange = "Branch()", @class = "form-control" })
                            </div>
                            <div class="col-md-3 col-sm-3 mar-top10 pabsolute">
                                <div class="ds">
                                    <input type="radio" id="Detail" name="DS" value="Detail" onclick="IframeView(this)" />  &nbsp;&nbsp;<span class="font-sizesmall"> Detail   </span>  &nbsp;&nbsp;&nbsp;
                                    <input type="radio" id="Summary" name="DS" value="Summary" onclick="IframeView(this)" />&nbsp;&nbsp;<span class="font-sizesmall"> Summary</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 mar-top10 pabsolute">
                                <button id="Report" class="btn btn-primary form-control pull-right reportbtnmbl" onclick="GetData()">Report</button>
                            </div>
                        </div>
                        <div class="row">
                            @*<div class="col-3" style="margin-top:10px">
                                    <div style="float:left"><strong>&nbsp;&nbsp;&nbsp;To: </strong></div>
                                    <div style="float:right"><input type="date" id="ToDate" name="ToDate" class="form-control" /></div>
                                </div>*@

                            <div class="col-md-3 col-sm-3 mar-top10">
                                @Html.DropDownList("Group", new SelectList("", "GROUP_CODE", "GROUP_NAME"), "Select Department",
                        new { @style = "margin-top:2px", @id = "ddl_Group", name = "ddl_Group", @onchange = "FillSubGroup()", @class = "form-control" })
                            </div>
                            <div class="col-md-3 col-sm-3 mar-top10">
                                @Html.DropDownList("SubGroup", new SelectList("", "SGROUP_CODE", "SGROUP_NAME"), "Select Department",
                        new { @style = "margin-top:2px", @id = "ddl_SubGroup", name = "ddl_SubGroup", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="DetailReport">
                            <iframe name="DetailFrame" id="DetailFrame" src="" style="width:100%;height:800px;background-color:white" frameborder="0"></iframe>
                            @*</div>
                                <div id="SummaryReport">*@
                            <iframe name="SummaryFrame" id="SummaryFrame" src="" style="width:100%;height:800px;background-color:white" frameborder="0"></iframe>
                        </div>
                    </div>
                    @*<div class="card-footer">Footer</div>*@
                </div>
            </div>
        </section>
    </div>
</div>
@section scripts{
    <script type="text/javascript">

        $("#SetExtraText").text("(Stock Transfer Report)");


        $(document).ready(function () {
            //var now = new Date();
            //var today = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate();
            //var yesterday = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + (now.getDate() -1) ;
            //$('#FromDate').val(yesterday);
            //$('#ToDate').val(today);

            $('#ddl_Group').empty();
            $('#ddl_SubGroup').empty();
            $('#ddl_Group').append(new Option('Group', ''));
            $('#ddl_SubGroup').append(new Option('Sub Group', ''));

            $("#ddl_Branch").hide();
            //$("#ddl_Department").hide();
            $("#ddl_Group").hide();
            $("#ddl_SubGroup").hide();
            $("#ddl_Supplier").hide();
            $(".ds").hide();
        });


        function FillGroup() {
            $('#ddl_Supplier').prop('selectedIndex', 0);
            $('#ddl_Group').empty();
            $('#ddl_SubGroup').empty();
            $('#ddl_SubGroup').append(new Option('Group', ''));
            var DepartmentCode = $('#ddl_Department').val();
            $.ajax({
                url: "/Reports/FillGroup/" + DepartmentCode,
                type: "GET",
                dataType: "JSON",
                success: function (_data) {
                    var obj = JSON.parse(_data);
                    $('#ddl_Group').append(new Option('Group', ''));
                    $.each(obj, function (index, element) {
                        $('#ddl_Group').append(new Option(obj[index].GROUP_NAME, obj[index].GROUP_CODE));
                    });
                },
                error: function (xhr) {
                    alert('Request Status: \n ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);
                }
            }
          );
        }
        function FillSubGroup() {
            $('#ddl_SubGroup').empty();
            var _id = '';
            var Dept_Id = $('#ddl_Department').val();
            var Group_Id = $('#ddl_Group').val();
            _id = Dept_Id + Group_Id;
            $.ajax({
                url: "/Reports/FillSubGroup/" + _id,
                type: "GET",
                dataType: "JSON",
                success: function (_data) {
                    var obj = JSON.parse(_data);
                    $('#ddl_SubGroup').append(new Option('Sub Group', ''));
                    $.each(obj, function (index, element) {
                        $('#ddl_SubGroup').append(new Option(obj[index].SGROUP_NAME, obj[index].SGROUP_CODE));
                    });
                },
                error: function (xhr) {
                    alert('Request Status: \n ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);
                }
            }
            );
        }
        function Supplier() {
            $('#ddl_Department').prop('selectedIndex', 0);
            $('#ddl_Group').prop('selectedIndex', 0);
            $('#ddl_SubGroup').prop('selectedIndex', 0);
        }
        function show() {
            var queryType = $('#Query').val();
            if (queryType == "DepartmentWise") {
                $("#ddl_Supplier").hide();
                $('#ddl_Department').prop('selectedIndex', 0);
                $("#ddl_Department").show();
                //$("#ddl_Group").show();
                $('#ddl_Branch').hide();
                //$("#ddl_SubGroup").show();
            }
            else if (queryType == "SupplierWise") {
                $("#ddl_Supplier").show();
                $("#ddl_Department").hide();
                $('#ddl_Department').prop('selectedIndex', 0);
                $("#ddl_Group").hide();
                $("#ddl_Group").prop('selectedIndex', 0);
                $("#ddl_SubGroup").hide();
                $("#ddl_SubGroup").prop('selectedIndex', 0);
                $('#ddl_Branch').hide();
            }
            else if (queryType == "BranchWise") {
                $("#ddl_Supplier").hide();
                $('#ddl_Supplier').prop('selectedIndex', 0);
                $("#ddl_Department").hide();
                $('#ddl_Department').prop('selectedIndex', 0);
                $("#ddl_Group").hide();
                $("#ddl_Group").prop('selectedIndex', 0);
                $("#ddl_SubGroup").hide();
                $("#ddl_SubGroup").prop('selectedIndex', 0);
                $('#ddl_Branch').show();
            }
            //else {
            //    $("#ddl_Supplier").hide();
            //    $("#ddl_Department").hide();
            //    $('#ddl_Department').prop('selectedIndex', 0);
            //    $("#ddl_Group").hide();
            //    $("#ddl_Group").prop('selectedIndex', 0);
            //    $("#ddl_SubGroup").hide();
            //    $("#ddl_SubGroup").prop('selectedIndex', 0);
            //}
        }
        function IframeView(e) {
            var valueofRadio = e.value;
            if (valueofRadio == "Detail") {
                $("#DetailFrame").show();
                $("#SummaryFrame").hide();
            }
            else {
                $("#DetailFrame").hide();
                $("#SummaryFrame").show();
            }
        }

        function GetData() {
            var QueryFor = $("#Query").val();
            var DeptId = $("#ddl_Department").val();
            var GroupId = $("#ddl_Group").val();
            var SubGroupId = $("#ddl_SubGroup").val();
            var SupplierId = $("#ddl_Supplier").val();
            var StockINorOUT = $("#INorOUT").val();
            var BranchId = $("#ddl_Branch").val();
            //var DateFrom = $("#FromDate").val();
            //var DateTo = $("#ToDate").val();
            var DateFrom = "";
            var DateTo = "";
            $("#Report").attr("disabled", "disabled");

            var DetailUrl = "";
            var SummaryUrl = "";


            if (QueryFor == "BranchWise") {
                DetailUrl = "/Reports/StockByBranch?Branch=" + BranchId + "&DocType=" + StockINorOUT + "&Visibility=true";
                SummaryUrl = "/Reports/StockByBranch?Branch=" + BranchId + "&DocType=" + StockINorOUT + "&Visibility=False";
            }
            else {
                DetailUrl = "/Reports/Stock?Dept_Code=" + DeptId + "&Group_Code=" + GroupId + "&SubGroup_Code=" + SubGroupId + "&FromDate=" + DateFrom + "&ToDate=" + DateTo + "&Supl_Code=" + SupplierId + "&StockINorOUT=" + StockINorOUT + "&ForDeptorSupl=" + QueryFor + "&Visibility=True";
                SummaryUrl = "/Reports/Stock?Dept_Code=" + DeptId + "&Group_Code=" + GroupId + "&SubGroup_Code=" + SubGroupId + "&FromDate=" + DateFrom + "&ToDate=" + DateTo + "&Supl_Code=" + SupplierId + "&StockINorOUT=" + StockINorOUT + "&ForDeptorSupl=" + QueryFor + "&Visibility=False";

            }

            $('#DetailFrame').attr('src', "");
            $('#DetailFrame').attr('src', DetailUrl);
            $('#SummaryFrame').attr('src', "");
            $('#SummaryFrame').attr('src', SummaryUrl);
            $("#Report").removeAttr("disabled");
            $("#Detail").click();
            $(".ds").show();
        }


    </script>
}
